<p>member-list works!</p>

<table border="1px">
  <thead>
  <tr>
    <td>ID</td>
    <td>CIN</td>
    <td>Name</td>
    <td>Type</td>
    <td>CV</td>
    <td>created Date</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of dataSource; let index = index;">
    <td>{{element.id}}</td>
    <td>{{element.cin}}</td>
    <td>{{element.name}}</td>
    <td>{{element.type}}</td>
    <td>{{element.cv}}</td>
    <td>{{element.createdDate | date :'d MMMM y, HH:mm'}}</td>
  </tr>
  </tbody>
</table>